---
import Layout from '../layouts/layout.astro';
import ContactInfo from '../components/contact-info.astro';
import FaqSidebar from '../components/faq-sidebar.astro';
---

<Layout title="Contact | Sarahs Praktijk" description="Neem contact op met Sarah Bogaerts voor holistische therapie in Keerbergen. Bel +32 468 48 93 73 of mail naar info@sarahscoachingpraktijk.be voor een afspraak." transparentHeader={true}>
	<main>
		<ContactInfo
			title="Neem contact op"
			phone="+32 468 48 93 73"
			email="info@sarahspraktijk.be"
			address="Bollostraat 104 - 3140 Keerbergen"
			mapImageSrc="/images/maps.png"
			mapLink="https://www.google.com/maps/place/Bollostraat+104,+3140+Keerbergen"
		>
			<div slot="intro">
				<p>Elke stap die je zet richting zelfzorg is een uitnodiging aan jezelf om gezien en gehoord te worden.</p>
				<p>Je bent welkom om te vragen, te ontdekken en te groeien. Ik nodig je uit om te beginnen met de FAQ, zodat we samen meteen bij de kern kunnen starten.</p>
			</div>
			<p slot="before-contact">Contact met me opnemen kan voor een afspraak of een vraag die <strong>echt niet</strong> in de FAQ of website vernoemd staat.</p>
			<p slot="phone-note">Mijn favoriet, meestal krijg je een antwoord dezelfde dag.</p>
			<p slot="email-note">Ik lees dagelijks, er kan een dag over gaan voor je een antwoord ontvangt.</p>
			<div slot="footer-note">
				<p>Tijdens sessies staat mijn telefoon op <strong>stil</strong>, uit respect voor het werk dat we doen en de klant die op mijn behandeltafel ligt.</p>
				<p>Bedankt voor je begrip en je geduld, zo kunnen we allebei gefocust blijven!</p>
			</div>
		</ContactInfo>

		<FaqSidebar
			title="Veelgestelde vragen"
			description="Hier vind je antwoorden op de meest voorkomende vragen over praktische zaken rondom mijn praktijk en sessies."
			sidebarImage="/images/contact.webp"
  			sidebarImageAlt="Neem contact op voor een rustgevend moment dat bij jou past"
			faqs={[
				{
					question: "Hoeveel kost een sessie?",
					answer: "De prijs hangt af van het type sessie en de duur. Je vindt een volledig overzicht van alle tarieven en sessies op <a href='/tarieven'>tarieven & sessieduur</a>."
				},
				{
					question: "Hoe betaal ik mijn sessie?",
					answer: "Je kan betalen met cash of via jouw bank app (QR code). Alles verloopt vlot zolang de wifi meewerkt."
				},
				{
					question: "Wat als ik mijn afspraak niet kan nakomen?",
					answer: "Ik begrijp dat plannen soms veranderen. Annuleer minimaal 48 uur van tevoren, dan zijn er geen kosten. Bij annuleringen binnen 12 uur voor de afspraak wordt het volledige consult bedrag in rekening gebracht, omdat ik me volledig fysiek, mentaal en energetisch op jouw sessie voorbereid."
				},
				{
					question: "Werk je met terugbetaling via de mutualiteit?",
					answer: "Holistische therapie wordt momenteel nog niet erkend door de mutualiteiten, waardoor er geen terugbetaling mogelijk is."
				},
				{
					question: "Moet ik iets meenemen naar mijn eerste sessie?",
					answer: `<p>Het is handig om, indien mogelijk, een lijst van je medicatie, supplementen en eventuele recente onderzoeken of bloedresultaten mee te brengen, dat kan extra inzicht geven. Verder hoef je niets mee te nemen, alles is aanwezig in de praktijk.</p>
					<p>Uit respect voor elkaar en omdat ik gevoelig ben voor geuren, vraag ik bij therapeutische sessies om parfum te vermijden en indien mogelijk even te douchen vooraf. Zo creëren we samen een prettige en ontspannen sfeer.</p>`
				},
				{
					question: "Kan ik makkelijk parkeren?",
					answer: "Ja, zeker! Je kunt parkeren op mijn oprit of langs de straat. De ingang vind je achteraan, naast de garagepoorten. Zo ben je meteen welkom in een ontspannen sfeer."
				},
				{
					question: "Waarom zet ik mijn GSM op stil tijdens sessies?",
					answer: "Tijdens sessies staat mijn telefoon op stil uit respect voor het werk dat we doen en de klant die op mijn behandeltafel ligt. Dit zorgt ervoor dat we beide volledig aanwezig kunnen zijn en gefocust blijven op jouw proces."
				}
			]}
		/>
	</main>
</Layout>